.home-skill {
    max-width: 832px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill-header {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-header h2 {
    font-size: 24px;
    font-weight: 600;
}

.home-skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
}

.home-skill-card {
    max-width: 352px;
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
}
.home-skill-card:hover {
    background: #1C1C1F;
    border: 1px solid #242426;
}
.skill-card-icon {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #242426;
}

.skill-card-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.skill-card-name h3 {
    font-size: 16px;
    font-weight: 500;
}


@media screen and (width < 760px) {
    .home-skill-container{
        flex-direction: column;
    }
}