.button-secondary {
    background: #272A2F;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .2s ease-in-out;
}

.button-secondary:hover {
    background: #202227;
}

@media screen and (width < 760px) {
    .button-secondary {
        padding: 12px 16px;
    }
}