.card {
    background: #1D1F22;
    max-width: 501px;
    padding: 16px 32px;
    border: 1px solid #2C2D34;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    max-height: 299px;
    height: 82px;
    overflow: hidden;
    transition: all .25s ease-in-out;
}

.card.active {
    overflow: hidden;
    transition: all .2s ease-in-out;
    height: 299px;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .2 ease-in-out;
}

.card-icon h3 {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
}

h3,
p,
a {
    transition: .2s ease-in-out;
}


.button {
    background: none;
    border: none;
    display: flex;
    color: var(--title-color);
}

.button:hover {
    color: var(--text-color);
    cursor: pointer;
}

.button svg {
    transition: .3s ease-in-out;
}

.button.active svg {
    transform: rotate(180deg);
    transition: .3s ease-in-out;
}

.card h4 {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
}

.card a {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
}

@media screen and (width < 760px) {
    .card {
        padding: 16px 16px;
        gap: 24px;
        max-height: max-content;
    }
    .card.active {
        overflow: hidden;
        transition: all .2s ease-in-out;
        height: 323px;
    }
}