.product-card {
    background: #1D1F22;

    max-width: 501px;
    padding: 36px 38px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border: 1px solid #2C2D34;
    overflow-x: hidden;
}

.product-card img {
    max-width: 425px;
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    border-radius: 20px;
}

.product-card h2 {
    font-size: 18px;
    font-weight: 500;
}


.product-card h3 {
    font-size: 16px;
    font-weight: 500;
}

.product-card ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.product-card ul li {
    background: #391F52;
    padding: 5px 10px;
    border-radius: 6px;
}


@media screen and (width < 760px) {
    .product-card {
        width: 100%;
        padding: 18px 16px;
    }
    .product-card img {
        max-width: 100%;
        height: auto;
    }
}