.home-resume {
    max-width: 832px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-header h2 {
    font-size: 24px;
    font-weight: 600;
}

.resume-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dowload-cv {
    background: #791FC1;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 32px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (width < 760px) {
    .dowload-cv {
        padding: 12px 16px;
    }
}