.button-more-info {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
    transition: .2s ease-in-out;
    animation: FadeIn 2.5s ease-in-out infinite;
}
.button-more-info:hover {
    color: var(--title-color);
}