@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0070F7;
  --secondary-color: #791FC1;
  --title-color: #F0F1F4;
  --text-color: #777C89;
  --bg-nav-active: #272A2F;
  --border-nav-active: #3B3E45;
  --nav-inactive-text: #595C62;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: #181A1D;

}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 150%;
}


/* Reusabel CSS Class */
h1,
h2,
h3 {
  color: var(--title-color);
}

li,
a {
  text-decoration: none;
  list-style: none;
}