@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0070F7;
  --secondary-color: #791FC1;
  --title-color: #F0F1F4;
  --text-color: #777C89;
  --bg-nav-active: #29292C;
  --border-nav-active: #3B3E45;
  --nav-inactive-text: #595C62;
  --border-color: #242426;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: #161618;

}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 150%;
}

/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Customizes the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #161618;
  /* Color of the track */
}

/* Customizes the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #33323E;
  border-radius: 8px;
  /* Color of the thumb */
}

/* Changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3a43;
  /* Darker color on hover */
}

/* Reusabel CSS Class */
h1,
h2,
h3 {
  color: var(--title-color);
}

li,
a {
  text-decoration: none;
  list-style: none;
}