.home-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-size: 61px;
    font-weight: 600;
    line-height: normal;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.home-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.home-buttons a {
    padding: 12px 32px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    color: var(--title-color);
    transition: .2s ease-in-out;
}

.home-buttons a:first-child {
    background: var(--primary-color);
}

.home-buttons a:first-child:hover {
    background: #0161d7;
}

.home-buttons a:nth-child(2) {
    background: #272A2F;
}

.home-buttons a:nth-child(2):hover {
    background: #202227;
}

.resume {
    max-width: 832px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-header h2 {
    font-size: 24px;
    font-weight: 600;
}

.resume-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-cv {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-cv {
    background: #2C2D34;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.title-cv p {
    color: var(--title-color);
}

.dowload-cv {
    background: #791FC1;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 32px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    gap: 8px;
}


.work {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.works-header {
    max-width: 832px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works-header h2 {
    font-size: 24px;
    font-weight: 600;
}


.work-container {
    width: 100%;
    max-width: 832px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.last-card {
    background: #1D1F22;
    border-radius: 20px;
    padding: 16px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.last-card img {
    max-width: 100%;
    border-radius: 20px;
}

.last-card h3 {
    font-size: 18px;
    font-weight: 500;
}

.external-work {
    display: flex;
    align-items: center;
    gap: 8px;
}


.skill {
    max-width: 832px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill-header {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-header h2 {
    font-size: 24px;
    font-weight: 600;
}
.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.skill-card-home {
    background: #1D1F22;
    max-width: 370px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid #2C2D34;
}
.skill-card-icon {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #2C2D34;
    display: flex;
}

.skill-card-name {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.skill-card-name h3 {
    font-size: 16px;
    font-weight: 600;
}